 *{
    color: rgb(100, 100, 242);
    text-align: center;
} 

h3{
    color: blueviolet;
}

p{
    color: crimson;
} 

body{
    background-color: darkgray;
}

.buttonnn{
    padding: 1rem;
    background-color: crimson;
    color: aliceblue;
    border-radius: 2.5rem;
    width: fit-content;
}
.buttonnn:hover {
    background-color: red;
    cursor: pointer;
}